div.main-modal.hide - //.main-modal-stage-1.hide
	div.overlay
		div.modal
			div.modal__content
				div.modal-close x
				h3 Введите пожайлуста ваш емайл и номер телефона мы вышлем вам предложение
				label.label.form-element Ваш E-mail:
					input.label__field
				label.label.form-element Ваш телефон:
					input.label__field
				button.button.button--error получить