<html lang="en-US">
    {{> head  title="Title" }}
    <body class="body">
        <noscript>
            <div class="message global noscript">
                <div class="content">
                    <p><strong>JavaScript seems to be disabled in your browser.</strong></p>
                    <span>For the best experience on our site, be sure to turn on Javascript in your browser.</span>
                </div>
            </div>
        </noscript>
        <div class="page-wrapper">
            {{> header }}
            <main id="maincontent" class="page-main">
                <div class="columns">
                    Content there
                </div>
            </main>
            {{> footer }}
        </div>
    </body>
</html>
